.thumbnails {
  list-style: none;
  padding-left: 0px;
}
.thumbnails li {
    margin-top: 10px;
  margin-bottom: 10px;

}
.recent-post img {
  height: 80px;
  width: 80px;
}
.caption {
  padding-left: 0;
}

.feature-thumbnail {
  height: 200px;
  width: 100%;
}
.headline {
  padding-top: 5px;
  padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
}