<section>
  <h4 class="headline">TOP WAYS TO SAVE MONEYS</h4>
  {{#foreach sidebarPosts}}
    <a href="{{url}}"><img class="feature-thumbnail" src={{image}} />
    <h5><strong>{{title}}</strong></h5></a>
  {{/foreach}}
</section>
